<pre class="pre pre-html">&lt;div ng-view class="pop"&gt;&lt;/div&gt;</pre>

<pre class="pre pre-css">
.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.pop.ng-enter {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.pop.ng-leave-active {}
</pre>
