<pre class="pre pre-html language-markup" nag-prism><code>&lt;div ng-view class="fade"&gt;&lt;/div&gt;</code></pre>

<pre class="pre pre-css language-css" nag-prism><code>.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}</code></pre>
