<pre class="pre pre-html language-markup" nag-prism><code>&lt;div ng-view class="slide-pop"&gt;&lt;/div&gt;</code></pre>

<pre class="pre pre-css language-css" nag-prism><code>.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-pop.ng-enter,
.slide-pop.ng-leave {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}
.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}
.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}
.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
</code></pre>
