<pre class="pre pre-html language-markup" nag-prism><code>&lt;div ng-view class="pop"&gt;&lt;/div&gt;</code></pre>

<pre class="pre pre-css language-css" nag-prism><code>.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.pop.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pop.ng-leave-active {}
</code></pre>
