<pre class="pre pre-html language-markup" nag-prism><code>&lt;div ng-view class="rotate"&gt;&lt;/div&gt;</code></pre>

<pre class="pre pre-css language-css" nag-prism><code>.rotate {
    -webkit-animation-duration: 1s;
}
.ng-leave.rotate {
    -webkit-animation-name: rotate-leave;
}
.ng-enter.rotate {
    -webkit-animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
}
@-webkit-keyframes rotate-enter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
        opacity: 1;
    }
}
</code></pre>
