<h3>John Coltrane</h3>
<p>
	John William Coltrane, also known as "Trane" (September 23, 1926 – July 17, 1967), was an American jazz saxophonist and composer. Working in the bebop and hard bop idioms early in his career, Coltrane helped pioneer the use of modes in jazz and later was at the forefront of free jazz. He organized at least fifty recording sessions as a leader during his career, and appeared as a sideman on many other albums, notably with trumpeter Miles Davis and pianist Thelonious Monk.
	<br/>
	<small>(Wikipedia)</small>
</p>
<p><a class="btn btn-md btn-success" ng-click="nextPage()" role="button">Next page</a></p>